/* Base Application Styles */
body {
  color: #000;
  background: #fff;
}

.index {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.recipe-search {
  margin: 40px auto;
  display: block;
  width: 50%;
}

.recipe-list {
  width: 800px;
  list-style: none;
  padding: 0;
  margin: 40px auto;
  text-align: center;
  overflow: auto;
}

.recipe-list li img {
  display: block;
  clear: both;
  padding: 15px 0;
  
  height: 150px;
  width: 150px;
}

ul ul li {
  float: left;
  width: 150px;
  margin: 5px;
}
