/* Base Application Styles */
body {
  color: #000;
  background: #fff;
}

#app {
  margin: 0 auto;
  width: 80%;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

#mainImg{
  margin-bottom: 2rem;
}

#mainImg img{
  position: relative;
  display: block;
  margin: auto;
  margin-top: 2rem;
  width: 85%;
}

.recipeList{
  text-align: center;
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border-top: 1px solid black;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.recipeList input {
  margin-top: 0;
  margin-bottom: 1rem;
}

.recipeBox {
  position:relative;
  display:inline-block;
  width: 20%;
  height:220px;
  vertical-align:top;
  margin:2px;
  border-radius: 10px;
  text-align:left;
}

.recipeDesc{
  position: absolute;
  bottom: 0px;
  width: 60%;
  line-height: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.recipeBox img{
  height: 100%;
  width: 100%;
}

img.more-icon {
  height: 32px;
  width: 32px;
  
  vertical-align: middle;
}

h3.recipe-box-text {
  display: inline-block;
}

.recipe-hover {
  box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.3);
  top: -5px;
}

/*adapted from https://github.com/amurp/react-context-menu*/
.context-menu {
  position: absolute;
  z-index: 9000;

  display: flex;
  flex-flow: column;

  border: 1px solid rgba(0,0,0,0.15);
  border-radius:2px;
  box-shadow:0 1px 1px 1px rgba(0,0,0,0.05);
  
  padding: 10px 15px;
  margin: -20px 20px;

  background: white;
  visibility: hidden;
}
.context-menu span {
  cursor: pointer;
  font-size:14px;
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
.context-menu img {
    left: 0;
    margin-right: 10px;
    height:20px;
    width:20px;
}